/*  Douglas Aquilino       February 04, 2017    */
/*  RCB - "Psychic-Game" Homework #3            */
/*                style.js                      */


body{
	background-image: url(../images/psychic-bg.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	background-color: black;
    font-family: 'Calligraffitti', cursive;
    text-align: center;
}

#results p {
	font-size:2vw;
}

/*for animation*/
@keyframes crystalball {
    from {background-color: black;}
    to {background-color: white;}
}

#main{	
	margin: 0;
	padding:0;

	border-radius: 100%;
	width:47vw;
	height:47vw;
	position: absolute;
	top: 2%;
	left: 25%;
	background: white;      
  	animation-name: crystalball;
    animation-duration: 7s;
}

h2 {
	font-size: 5vw; /*60px*/
	font-weight: 900;
	margin: 0;
	padding:0;
	width:50vw;	
}

#winAlert, #loseAlert{
	font-family: 'Alfa Slab One', cursive;	
	font-size: 10vw;
	font-weight: 900;
	position: absolute;
	top: 10vw;
	visibility: hidden;
}

h3{
	font-size: 2.5vw;
}

h4{
	font-size: 1.5vw;
}

#display{
	position:relative;
	top: 12%;
	right: 1%;	
}