/*  Douglas Aquilino       February 04, 2017    */
/*  RCB - "Psychic-Game" Homework #3            */
/*                style.js                      */

header {
	background: #BADA55; /*haha! couldn't resist.*/
	text-align: center;
}

header h1 {
	margin: 0;
}

#results p {
	font-size:24px;

}

div#results p:first-child {color:blue;}

div#results p:nth-child(2) {color:red;}